@import url("https://fonts.googleapis.com/css2?family=Montserrat;wght@200;500&display=swap");

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--tg-theme-text-color);
    background: var(--tg-theme-bg-color);
}

.button {
    background: var(--tg-theme-button-color);
    color: var(--tg-theme-button-text-color);
    border: none;
}

.button-bottom > .button {
    margin-bottom: 20px;
}

.telegram-name {
    color: var(--tg-theme-button-color);
}

.container {
    min-height: var(--tg-viewport-height);
}