@import url("https://fonts.googleapis.com/css2?family=Montserrat;wght@200;500&display=swap");

body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    font-size: 18px;
    color: var(--tg-theme-text-color);
    background: var(--tg-theme-bg-color);
}

.container {
    max-width: 390px;
    text-align: center;
    padding-right: 20px;
    padding-left: 20px;
}

.item {
    text-align: center;
}

.telegram-name {
    color: var(--tg-theme-button-color);
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    background-color: var(--tg-theme-button-color);
    border-radius: 10px;
    color: var(--th-theme-button-text-color);
    text-transform: uppercase;
    font-weight: 700;

    transition: background 0.2s linear;
}

.usercard {
    text-align: center;
}
